body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

*{
  transition: 0.3s;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #8d8d8d;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: 100%;
}

link {
  color: blue
}

.Toastify__progress-bar--default {
  background: none !important;
}

.Toastify__progress-bar--default {
  background: none !important;
}

.Toastify__toast--default {
  background: none !important;
}
.Toastify__toast {
  box-shadow: unset !important;
  margin-bottom: 0 !important;
}

.Toastify__close-button--default {
  color: white;
  position: relative;
  top: 17px;
  right: 30px;
  font-size: 14px;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinInner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
}